<ion-view view-title="Student Profile">
  <ion-content>
	<div class="list list-inset">
		<label class="item item-input">
			<input type="text" placeholder="First Name">
		</label>
		<br>
		<label class="item item-input">
			<input type="text" placeholder="Midle Name">
		</label>
		<br>
		<label class="item item-input">
			<input type="text" placeholder="Last Name">
		</label>
		<br>
		<label class="item item-input">
			<input type="text" placeholder="Birthdate">
		</label>
		<br>
		<div class="item row" style="padding:0">
			<div class="col" style="padding:0">
				<label class="item item-input">
					<input type="text" placeholder="Age">
				</label>
			</div>
			<div class="col" style="padding:0">
				<label class="item item-input">
					<input type="text" placeholder="Race">
				</label>
			</div>
		</div>
		<br>
		<label class="item item-input">
			<input type="text" placeholder="Address">
		</label>
	</div>
	<div class="padding">
		<button class="button button-full button-energized">
			Update Profile
		</button>
	</div>
  </ion-content>
</ion-view>
