<ion-view cache-view="false" view-title="INBOX">
  <ion-pane>
  <ion-content>
	<ion-refresher
	pulling-text="Pull to refresh..."
	on-refresh="doRefresh()">
	</ion-refresher>
	
	<div class="list list-item">
		<div class="item" ng-show ="has_message" ng-repeat="inbox in messages" ng-click="passValue(inbox.id ,  inbox.from, inbox.msg)">
			<label>From: {{ inbox.from }}</label><br><br>
			{{  inbox.msg }}		
		</div>
		<div class="item" ng-show ="no_message" >
			No Messages to Show.	
		</div>
	</div>
  </ion-content>
	  <div class="tabs-striped tabs-icon-top tabs-color-balanced ">
	    <div class="tabs">
	      <a class="tab-item active" href="#/app/messages">
	        <i class="icon ion-chatboxes"></i>
	        INBOX
	      </a>
	      <a class="tab-item" href="#/app/messages_outbox">
	        <i class="icon ion-paper-airplane"></i>
	        OUTBOX
	      </a>
	      <a class="tab-item" href="#/app/messages_compose">
	        <i class="icon ion-compose"></i>
	        COMPOSE
	      </a>
	    </div>
	  </div>
  </ion-pane>
</ion-view>
