<ion-view view-title="Suggestions">
  <ion-content>
	<div class="padding">
		<label>Please write your suggestions. We're glad to hear from you!</label>
	</div>
	<div class="list list-inset">
		<label class="item item-input">
			<input type="text" placeholder="Student Number">
		</label>
		<br>
		<ion-item>
			<ion-label>Message</ion-label>
			<textarea cols="50" rows="8" style="resize:none"></textarea>
		</ion-item>
	</div>
	<div class="padding">
		<button class="button button-block button-energized">
		Submit
		</button>
	</div>
  </ion-content>
</ion-view>
