<ion-view view-title="Outbox">
  <ion-pane>
  <br><br>
	<div class="list list-inset">
		<div class="item">
		Message Here
		</div>
		<div class="item">
		Message Here
		</div>
		<div class="item">
		Message Here
		</div>
	</div>
	  <div class="tabs-striped tabs-icon-top tabs-color-balanced ">
	    <div class="tabs ">
	      <a class="tab-item" href="#/app/messages">
	        <i class="icon ion-chatboxes"></i>
	        INBOX
	      </a>
	      <a class="tab-item active" href="#/app/messages_outbox">
	        <i class="icon ion-paper-airplane"></i>
	        OUTBOX
	      </a>
	      <a class="tab-item" href="#/app/messages_compose">
	        <i class="icon ion-compose"></i>
	        COMPOSE
	      </a>
	    </div>
	  </div>
  </ion-pane>
</ion-view>
