<ion-view cache-view="false" view-title="Events">
  <ion-content>
	<div class="padding">
		<label>Cards of upcoming events.</label>
	</div>
	<div class="row" ng-repeat="event in events">
		<div class="list card" style="width:100%">
			<div class="item "> <!-- item-avatar-->
				<h2>{{ event.subject }}</h2>
			</div>
			<div class="item item-body item-text-wrap">
				<p>{{ event.date }} - {{ event.time }}</p>
				<p>{{  event.content }}</p>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
