<ion-view view-title="Messages">
  <ion-contentn class="has-tabs">
	  <div class="tabs-striped tabs-icon-top tabs-color-balanced ">
	    <div class="tabs">
	      <a class="tab-item active" href="#">
	        <i class="icon ion-home"></i>
	        Test
	      </a>
	      <a class="tab-item" href="#">
	        <i class="icon ion-star"></i>
	        Favorites
	      </a>
	      <a class="tab-item" href="#">
	        <i class="icon ion-gear-a"></i>
	        Settings
	      </a>
	    </div>
	  </div>
  </ion-content>
</ion-view>
