<ion-view cache-view="false" view-title="Student Login">
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Username</span>
		    <input type="text" ng-model="txtUsername" placeholder="03-1314-000916">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Password</span>
		    <input type="text" ng-model="txtPassword" placeholder="Lalata">
		  </label>
		</div>
		<div class="padding">
			<button class="button button-block button-energized" ng-click="signIn()">
			  Sign In
			</button>
<!-- 			<a href="#/app/dashboard" class="button button-block button-energized">
			  Sign In
			</a> -->
			<br>
			<p ng-show="unable" style="color:red;text-align:center">Unable to Login. Incorrect details.</p>
		</div>

	</ion-content>
</ion-view>

<!--   // $scope.txtUsername = '';
  // $scope.txtPassword = '';
  // $scope.signIn = function(){
  //   $http.post("http://infosys.esy.es/ion/json_login.php", 
  //     {'username' : this.txtUsername , 'password' : this.txtPassword})
  //   .success(function (data){
  //     console.log(data);
  //   }) -->