<ion-view view-title="Student Login">
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Username</span>
		    <input type="text" placeholder="03-1314-000916">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Password</span>
		    <input type="text" placeholder="enter password">
		  </label>
		</div>
		<div class="padding">
			<!-- <button class="button button-block button-energized">
			  Sign In
			</button> -->
			<a href="#/app/playlists" class="button button-block button-energized">
			  Sign In
			</a>
		</div>
	</ion-content>
</ion-view>